<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <nav>
                <a href="/">TodoApp</a>
                <ul>
                    <li><a href="/write">write</a></li>
                    <li><a href="/list">list</a></li>
                    <li><a href="/mypage">mypage</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </nav>
            <section id="list">
                <h2>할일 목록</h2>
                <div class="input-wrapper">
                    <input type="text" placeholder="검색어를 입력하세요" id="searchInput">
                    <button class="blue" id="searchBtn">검색하기</button>
                </div>
                <ul>
                    <% for (var i=0; i<posts.length; i++){ %>
                        <li>
                            <h5>글번호 :  <%= posts[i]._id %></h5>
                            <h4>할일 제목 : <%= posts[i].title %></h4>
                            <p>할일 날짜 : <%= posts[i].date %></p>
                            <h5>작성자 :  <%= posts[i].writer %></h5>
                            <div class="button-wrapper">
                                <a href="/detail/<%= posts[i]._id %>">
                                    <button id="detail" class="blue-line">자세히보기</button>
                                </a>
                                <a href="/edit/<%= posts[i]._id %>">
                                    <button id="edit" class="edit blue">수정</button>
                                </a>
                                <button id="delete" class="delete red" data-id="<%= posts[i]._id %>">삭제</button>
                                <a href="/chatroom/<%= posts[i]._id %>"" id="chat">
                                    <button class="chat blue">채팅하기</button>
                                </a>

                            </div>
                        </li>
                    <% } %>
                </ul>
            </section>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $('.delete').click(function(e){
            var 글번호 = e.target.dataset.id;
            var 지금누른것 = $(this);
            console.log(글번호);

            $.ajax({
                method: 'DELETE',
                url: '/delete',
                data: {_id : 글번호}
            }).done(function(결과){
                console.log('성공!');
                지금누른것.parent('li').fadeOut();
            }).fail(function(xhr, textStatus, errorThrown){
                console.log(xhr, textStatus, errorThrown)
            });
        });

        $('#searchBtn').click(function(){
            var 입력한값 = $('#searchInput').val();
            window.location.replace('/search?value=' + 입력한값)
        });
    </script>
</body>
</html>