<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <nav>
                <a href="/">TodoApp</a>
                <ul>
                    <li><a href="/write">write</a></li>
                    <li><a href="/list">list</a></li>
                    <li><a href="/mypage">mypage</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </nav>
            <section id="list">
                <h2>'<%= word %>' 검색 결과</h2>
                <div class="input-wrapper">
                    <input type="text" placeholder="검색어를 입력하세요" id="searchInput">
                    <button class="blue" id="searchBtn">검색하기</button>
                </div>
                <ul>
                    <% for (var i=0; i<posts.length; i++){ %>
                        <li>
                            <h5>글번호 :  <%= posts[i]._id %></h5>
                            <h4>할일 제목 : <%= posts[i].title %></h4>
                            <p>할일 날짜 : <%= posts[i].date %></p>
                            <a href="/detail/<%= posts[i]._id %>">
                                <button id="detail" class="blue-line">자세히보기</button>
                            </a>
                            <a href="/edit/<%= posts[i]._id %>">
                                <button id="edit" class="edit blue">수정</button>
                            </a>
                            <button id="delete" class="delete red" data-id="<%= posts[i]._id %>">삭제</button>
                        </li>
                    <% } %>
                </ul>
            </section>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $('#searchBtn').click(function(){
            var 입력한값 = $('#searchInput').val();
            window.location.replace('/search?value=' + 입력한값)
        });
    </script>
</body>
</html>